$black: #101010;

body {
  background-color: $black;
  font-family: 'Roboto', sans-serif;
  background-color: #001a33;
  color: #e6f3ff;
}

.title-area {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.nav {
  bottom: 0;
  width: 100%;
  height: 50px
}

.nav-items {
  display: inline-block;
  background-color: #00264d;
  padding: 10px 30px;
}
